<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <h3 style="color:aliceblue">Welcome to EmployeeDashBoard</h3>
        <a routerLink="/view" style="color:black">View DashBoard</a>
        <a routerLink="/addemployee" style="color:black">Add Employee</a>
    </div>
</nav>
<table class="table">
    <thead>
        <tr>
            <th>EmployeeId</th>
            <th>FirstName</th>
            <th>LastName</th>
            <th>EmailId</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>1</td>
            <td>Ajay</td>
            <td>Kumar</td>
            <td>ajaykumar@gmail.com</td>
            <td>
                <button class="btn btn-info">Edit</button>
                <button class="btn btn-danger">Delete</button>
            </td>
        </tr>
    </tbody>
</table>