<nav class="navbar navbar-light bg-secondary">
    <div class="container-fluid">
        <h3 style="color:aliceblue">Welcome to EmployeeDashBoard</h3>
        <a routerLink="/view" style="color:black">View DashBoard</a>
        <a routerLink="/addemployee" style="color:black">Add Employee</a>
    </div>
</nav>
<h5>Click the below add button</h5>  
 <!-- Button to Open the Modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal" (click)="openModel()">
    Add Employee
  </button>
  
  <!-- The Modal -->
  <div class="modal" id="myModal">
    <div class="modal-dialog">
      <div class="modal-content">
  
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title">Employee Details</h4>
          <button type="button" class="btn-close" data-bs-dismiss="modal" (click)="closeModel()"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
            <div>
                <form >
                    <div class="form-group">
                        <label >Employee Id</label>
                        <input type="number" class="form-control"  placeholder="Enter employee id">
                      </div>
                      <div class="form-group">
                        <label >First name</label>
                        <input type="text" class="form-control"  placeholder="Enter your first name">
                      </div>
                      <div class="form-group">
                        <label >Last name</label>
                        <input type="text" class="form-control"  placeholder="Enter your Last name">
                      </div>
                    <div class="form-group">
                      <label >Email Id</label>
                      <input type="email" class="form-control"  placeholder="Enter email id">
                    </div>
                    <button type="submit" class="btn btn-secondary">Add </button>
                  </form>
                  </div>
                
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" data-bs-dismiss="modal" id="myModal" (click)="closeModel()">Close</button>
        </div>
  
      </div>
    </div>
  </div>